body {
    font-family: Arial, sans-serif;
    background: #fff;
}

.container {
    width: 400px;
    margin: 20px auto;
}
.silver-line {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px; /* space between text and lines */
    font-size: 24px;
}

.silver-line::before,
.silver-line::after {
    content: "";
    flex: 1;
    height: 2px;
    background-color: silver;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #ff6699;
}

.option {
    border: 2px solid #ddd;
    padding: 19px;
    margin-bottom: 15px;
    position: relative;
}

.title{
     font-weight: bold;
}

.option.popular {
    border-color: #ff6688;
}

.popular-tag {
    background: #ff6688;
    color: white;
    padding: 4px 12px;
    font-size: 12px;
    position: absolute;
    top: -12px;
    right: 10px;
    border-radius: 5px;
}

.option-header {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;

}
.price-wrap {
    display: flex;
    flex-direction: column;
}

.price {
    font-size: 16px;
    font-weight: 600;
    margin-left: 120px;
}

.old-price {
    font-size: 14px;
    color: #999;
    text-decoration: line-through;
    margin-left: 122px;
}


.tag {
    background: #ff99aa;
    padding: 5px 6px;
    font-size: 12px;
    color: white;
    
}

.content {
    display: none;
    margin-top: 15px;
}

.row {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 10px;
}

select {
    padding: 6px;
}

.delivery {
    color: #ff4f85;
}

.footer {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    font-weight: bold;

}


.add-cart {
    width: 100%;
    background: #ff6688;
    color: white;
    padding: 15px;
    margin-top: 15px;
    border: none;
    border-radius: 6px;
    font-size: 18px;
    cursor: pointer;
}